:root {
    /* background-color: rgb(102, 139, 163); */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: linear-gradient(#4650de, #040249);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 14px;
}

.forecast {
    display: flex;
    flex-direction: row;
}

.dayForecast {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0px;
}

#cards {
    margin-right: 15px;
    background-color: #14112c;
    color: white;
    padding: 5px 30px 10px 5px;
}

.date1 {
    font-weight: bold;
}

.chosenCity {
    font-weight: bold;
    font-size: 30px;
}

.currentCity

.searchBtn {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding: 3px 66px;
    border-bottom: 4px black;
}

.group {
    padding-left: 25px;
}

.container {
    display: flex;
    flex-direction: row;
}